<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <statup>
      <supportedRuntime  version="v4.0" sku="netcoreapp3.1, Version=v4.6.1 " />
      
  </statup>
  <appsetting>
    <add key="name" value="Mohammad Imran" />
  <add key="district" value="Gonda" />
  </appsetting>
  <connectionStrings>
    <add name ="Employee" connectionString="server=(Localdb)\\MSSQLLocalDB; database=StudentDB ; integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>